# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv_brew/
ENV/
env.bak/
venv.bak/

# Database
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
reorder_log.txt
